body {
  font-family: 'Open Sans', serif;
  font-size: 1em;
}
p {
  line-height: 1.5em;
}
a {
  color: steelblue;
  text-decoration: underline;
}
a:hover {
  color: steelblue;
  text-decoration: underline;
}
.cat {
  float: right;
  display: inline;
  clear: none;
  padding: 0px 20px;
  margin: 0px 20px;
}
.logoimg {
  padding: 0px;
  margin: 0px;
  margin: auto;
  background-image: url("imgs/kandinsky411.png");
  height: 115px;
  display: block;
  clear: both;
}
.header {
  padding: 0px;
  margin: 0px;
  margin: auto;
}
@media (min-width: 910px) {
  .header {
    max-width: 1000px;
  }
}
@media (max-width: 910px) {
  .header {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    max-width: 100%;
  }
}
.header .item {
  margin: 5px;
  padding: 5px;
  background: #EEE;
  display: inline-block;
  clear: none;
}
.container {
  padding: 0px;
  margin: 0px;
  margin: auto;
}
@media (min-width: 910px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 910px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 910px) {
  .container .content {
    min-height: 1000px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container .content {
    max-width: 100%;
    width: 100%;
  }
}
.container .footer {
  display: block;
  clear: both;
  width: 100%;
  padding: 30px 0px 50px 0px;
  text-align: center;
}
.section {
  float: left;
  clear: both;
  margin-bottom: 10px;
}
.section h1 {
  font-size: 1.6em;
}
.section h2 {
  font-size: 1.3em;
  font-weight: bold;
}
.section h3 {
  font-size: 1.0em;
  font-weight: bold;
  color: #555;
  padding: 0px;
  margin: 0px;
}
.grid {
  width: 100%;
  padding: 0px;
  margin: 0px;
  clear: both;
  display: block;
}
.cell-250 {
  float: left;
  min-width: 250px;
  clear: none;
  display: block;
}
.announcement {
  background: #ffcc99;
  font-weight: bold;
  clear: none;
  display: inline;
  padding: 10px 20px;
  margin-top: 20px;
}
.highlight {
  background: #eee;
  padding: 5px 15px;
}
table {
  border-collapse: collapse;
  font-size: 0.85em;
}
table th,
table td {
  border: 1px solid #555;
  padding: 10px;
  margin: 2px;
}
table .dark {
  background: #ffcc99;
}
table .duedate {
  background: #33FF96;
}
